<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  body , html{
    height: 100%;
  }
  
  .bgimage {
    background-image: url("../../static/image/index.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
  }

section {
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 20%;
  }
  h1 {
    color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  }

</style>
<body>
  {% include "quiz/navbar.html" %}
<br><br>
<div class="bgimage"><</div>
<section id="section-jumbotron" class="jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h1 class="display-1">Let's Bingo</h1>
    <p class="display-4 d-none d-sm-block">Learn in a bingo style.</p>
    <p class="lead">We organize games on various topics.</p>
    <p class="lead">Sign up if you haven't already and get access to millions of quizzes on the topic of your interest.</p>
    <p><strong> Start Your Journey Here:</strong></p>
    <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px;"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
  </div>  
</section>
{% include "quiz/footer.html" %}
</body>

</html>
